Source: python-tokenparser
Section: misc
Priority: extra
Maintainer: Anton Tyurin <noxiouz@yandex-team.ru>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python (>= 2.4), python-support
Standards-Version: 3.8.3
Homepage: test

Package: python-tokenparser
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
